#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 0px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover {background: url(../images/prevlabel.png) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover {background: url(../images/nextlabel.png) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #595350; color:#ffffff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0px; color: #ffffff; }
#imageData #imageDetails{padding:10px 5px 5px 15px;width: 95%; float: left; text-align: left;font-family:'Museo 300';font-size:11px;}	
#imageData #caption{}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em; display:none}			
#imageData #bottomNavClose{position: absolute; margin: -270px 0 0 -15px;}	 	
#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }
