
/*light box*/
#points_div {border:0px solid #0000CC; padding:0 20px 0 20px;}
#heading3 { font-size:18px; color:#000000; font-family:'Museo 300'; padding:5px 0 5px 0px;}
#heading4 { font-size:14px; color:#FF9900; font-family:'Museo 300'; padding:5px 0 5px 0px;}
#points { margin:0 0 0 15px; }
#contact { margin:0 0 0 5px; line-height:16px;  }
 

